@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:ital,wght@0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 100vh;
    background-image: url('../images/cloud.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.50);
    background-blend-mode: overlay;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation {
    display: flex;
}
.navigation li {
    list-style: none;
    margin: 10px;
}
.navigation li a {
    text-decoration: none;

}