@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:ital,wght@0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background-image: url('../images/cloud.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.50);
    background-blend-mode: overlay;
}
/*------
 common css
 ------ */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.primary-button {
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg, lawngreen,rgb(92, 163, 22));
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 7px 0 rgb(92, 163, 22);
    position: relative;
    top: 0;
}
.section-title {
    text-align: center;
}
.section-title h2 {
    font-size: 40px;
    display: inline-block;
    border-bottom: 2px solid #ff008e;
    margin: 50px 0;
}
.primary-button:active {
    top: 5px;
    box-shadow: 0 2px 0 rgb(92, 163, 22);
}
.hailight {
    color: #ff008e;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation {
    display: flex;
}
.navigation li {
    list-style: none;
    margin: 10px;
}
.navigation li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 10px;
}


.banner {
    height: calc(100vh - 80px);
    min-height: 500px;
    display: grid;
    grid-template-columns:1fr 1fr;
}
.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left h1 {
    font-size: 45px;
    color: #ffffff;
}
.banner-left p {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;

}
.banner-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner-right img {
    width: 100%;
}


/* feature part css */

.feature {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.459);
}
.card .card-icon {
    background-color: #ff008e;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 10px;
    color: white;
}
.card h3 {
    color: #ff008e;
    font-size: 25px;
}
.card p {
    margin: 10px 0;
    line-height: 1.5;
}
.card a {
    text-decoration: none;
    color: #ff008e;
}

/* about */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}
.about-left img {
    width: 100%;
}
.about-right h2 {
    color: #ff008e;
    font-size: 35px;
}
.about-right p {
    margin: 15px 0;
    line-height: 1.5;
}

/* gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.photo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 3px solid #ff008e;
}

/* contact css */

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.contact-left img {
    width: 100%;
}
.contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 1px solid #ff008e;
}
footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* responsive */
@media screen and (max-width: 952px) {
    .gallery {
        grid-template-columns: repeat(2,1fr);
    }
    .banner-left h1{
        font-size: 35px;
    }
  }
  @media screen and (max-width: 800px) {
    .banner {
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .feature,
    .gallery,
    .contact {
        grid-template-columns: 1fr;
    }
    .photo {
        text-align: center;
    }
    .photo img {
        max-widht: 350px;
    }
    .banner-left {
        order: 2;
        padding: 50px 0;
    }
    
  }